<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="微信红包封面隐藏"
        android:description="@android:string/unknownName"
        tools:ignore="MissingApplicationIcon" />
</manifest>
